name: Build and Push Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
             aarishgulfarosh/devops-project1:latest
             aarishgulfarosh/devops-project1:${{ github.sha }}

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull aarishgulfarosh/devops-project1:${{ github.sha }}
            docker stop devops-container || true
            docker rm devops-container || true
            docker run -d -p 3000:3000 \
            --name devops-container \
            --restart unless-stopped \
            -e APP_VERSION=${{ github.sha }} \
            aarishgulfarosh/devops-project1:${{ github.sha }}
